# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
.venv
*.egg-info/
*.egg
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Ignore large dataset file
Dataset/Smaller_Iowa_Liquor_Sales.csv

